{% extends 'gearStore/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About Gear Store
{% endblock %}

{% block body_block %}
    {% if admin %}
        <a id="delete-button-parent" class="edit-delete-button-parent" href="{% url 'gearStore:edit-about'%}"><ion-icon id="edit-button" class="edit-delete-button" name="create-outline"></ion-icon></a>
    {% endif %}
    <h1 id="page-header">About Gear Store</h1>
    {% if content %}
        <div class="bubble-text">{{ content.about_contents|linebreaks }}</div>
    {% endif %}

{% endblock %}