{% extends 'gearStore/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Account
{% endblock %}

{% block head_block %}
    <script src="{% static 'js/showForm.js' %}"></script>
    <script src="{% static 'js/passwordCheck.js' %}"> </script>
{% endblock %}

{% block body_block %}
    <!-- TODO show account details, etc -->
    <h1 id="page-header">My Account</h1>
    <div id="account-header">
        <img class="profile-picture" src="/media/{{ user_profile.picture }}">
        <div id="welcome-text">
            <p id="welcome-text-welcome">Welcome,</p>
            <p id="welcome-text-username">{{user_profile.first_name}} {{ user_profile.last_name }}</p>
        </div>
        <button id="action-button" onclick="showHiddenForm()">Manage Account</button>
    </div>
    <div class="form-container" id="account-change-form">
        <div class="form-value">
            <form enctype="multipart/form-data" method="post" action="{% url 'gearStore:account' %}">
                {% csrf_token %}
                {% for hidden in picture_form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <div class="input-box">
                    <ion-icon name="image-outline"></ion-icon>
                    <Label for="">Profile Picture</Label>
                    <input id="file-choice" type="file" name="picture" accept="image/*">
                </div>
                <div class="input-box">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <Label for="">Admin Password</Label>
                    {% if nopass %}
                         <input type="password" name="password" id="password" placeholder="Set Admin Password">
                    {% else %}
                        {% if user_profile.adminStatus %}
                            <input type="password" name="password" id="password" placeholder="New Admin Password">
                        {% else %}
                            <input type="password" name="password" id="password" placeholder="Become Admin">
                        {% endif %}
                    {% endif %}
                </div>
                <div class="submit-button">
                    <button>Submit</button>
                </div>
            </form>
        </div>
        {% if errors %}
            <ul class='form-errors'>
                <li class="error-warning">An error has occurred:</li>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            <br>
        {% endif %}
    </div>
    {% if form_open == True %}
        <script type="text/javascript">
            showHiddenForm()
        </script>
    {% endif %}
    <h2 id="borrow-menu-toggle">
        <Button class="borrow-menu-title" id="user-bookings-title" onclick="setBorrowMenu('user')" style="text-decoration: underline;">My Borrowed Gear</Button>
        {% if user_profile.adminStatus %}
            | <Button class="borrow-menu-title" onclick="setBorrowMenu('all')" id="all-bookings-title">All Borrowed Gear</Button>
        {% endif %}
    </h2>
    <div class="gear-view-contents" id="user-bookings">
    {% if user_bookings %}
        {% for booking in user_bookings %}
            <div class="text-widget" id="category-view-text-widget">
                <div id="gear-item-section" class="widget-section">
                    <p class="widget-label">Gear Item</p>
                    <p class="widget-text"><a href="{% url 'gearStore:view-gear' booking.gearItem.slug %}">{{ booking.gearItem.name }}</a></p>
                </div>
                <div id="return-date-section" class="widget-section">
                    <p class="widget-label">Borrowed Until</p>
                    <p class="widget-text">{{ booking.dateToReturn }}</p>
                </div>
                <div id="borrow-status-section" class="widget-section">
                    <p class="widget-label">Status</p>
                    <p class="widget-text"></p>
                </div>
                <div id="booking-link-section" class="widget-section">
                    <p class="widget-label">Booking</p>
                    <p class="widget-text"><a href="{% url 'gearStore:booking' booking.id %}">View Booking</a></p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p id="no-gear-error">You currently have no borrowed Gear.</p>
    {% endif %}
    </div>

    {% if user_profile.adminStatus %}
        <div id="all-bookings" style="display: none;">
            {% if all_bookings %}
                <div class="menu-container">
                    {% for booking in all_bookings %}
                        <div class="text-widget" id="category-view-text-widget">
                            <div id="user-borrower-section" class="widget-section">
                                <p class="widget-label">User</p>
                                <div id="profile-pic-and-name">
                                    <img id="small-profile-pic" src="/media/{{ booking.user.picture }}">
                                    <p class="widget-text" id="user-name-text">{{ booking.user.first_name }} {{ booking.user.last_name }}</p>
                                </div>
                            </div>
                            <div id="gear-item-section" class="widget-section">
                                <p class="widget-label">Gear Item</p>
                                <p class="widget-text"><a href="{% url 'gearStore:view-gear' booking.gearItem.slug %}">{{ booking.gearItem.name }}</a></p>
                            </div>
                            <div id="return-date-section" class="widget-section">
                                <p class="widget-label">Borrowed Until</p>
                                <p class="widget-text">{{ booking.dateToReturn }}</p>
                            </div>
                            <div id="borrow-status-section" class="widget-section">
                                <p class="widget-label">Status</p>
                                <p class="widget-text"></p>
                            </div>
                            <div id="booking-link-section" class="widget-section">
                                <p class="widget-label">Booking</p>
                                <p class="widget-text"><a href="{% url 'gearStore:booking' booking.id %}">View Booking</a></p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p id="no-gear-error">There is currently no borrowed gear.</p>
            {% endif %}
        </div>
    {% endif %}
    <p><a href="{% url 'gearStore:logout' %}">Click Here to Logout</a></p>
{% endblock %}