{% extends 'gearStore/base.html' %}
{% load gearstore_template_tags %}
{% load staticfiles %}

{% block head_block %}
    <script src="{% static 'js/showForm.js' %}"></script>
{% endblock %}

{% block title_block %}
    {% if booking %}
        Booking {{ booking.id }}
    {% else %}
        Missing Booking
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if booking %}
        <div class="gear-view-contents">
            <div class="top-image" style="background-image: url('/media/{{ booking.gearItem.picture }}')">
                <div class="top-image-overlay">
                    <h1 id="image-overlay-header">Booking of {{ booking.gearItem.name }} by {{ booking.user.first_name }} {{ booking.user.last_name }}</h1>
                </div>
            </div>
            <div class="text-widget" style="background-color: {% get_colour booking.id %};">
                <div id="category-section" class="widget-section">
                    <p class="widget-label">Item</p>
                    <div class="widget-bottom">
                        <p class="widget-text"><a href="{% url 'gearStore:view-gear' booking.gearItem.slug %}">{{  booking.gearItem }}</a></p>
                    </div>
                </div>
                <div id="status-section" class="widget-section">
                    <p class="widget-label">Status</p>
                    <div class="widget-bottom">
                        <p class="widget-text">{{ booking.status }}</p>
                    </div>
                </div>
                <div id="purpose-section" class="widget-section">
                    <p class="widget-label">Purpose</p>
                    <div class="widget-bottom">
                        <p class="widget-text">{{ booking.purpose }}</p>
                    </div>
                </div>
                <div id="date-borrowed-section" class="widget-section">
                    <p class="widget-label">Deposit Required</p>
                    <div class="widget-bottom">
                        <p class="widget-text">{{ booking.gearItem.deposit }}</p>
                    </div>
                </div>
                <div id="date-borrowed-until-section" class="widget-section">
                    <p class="widget-label">Borrowed Until</p>
                    <div class="widget-bottom">
                        <p class="widget-text">{{ booking.dateToReturn }}</p>
                    </div>
                </div>
            </div>
            <div class="text-widget" id="booking-view-text-widget">
                <div id="user-borrower-section" class="widget-section">
                    <p class="widget-label">User</p>
                    <div class="widget-bottom">
                        <div id="profile-pic-and-name">
                            <img id="small-profile-pic" src="/media/{{ booking.user.picture }}">
                            <p class="widget-text" id="user-name-text">{{ booking.user.first_name }} {{ booking.user.last_name }}</p>
                        </div>
                    </div>
                </div>
                <div id="booking-link-section" class="widget-section">
                    <p class="widget-label">Booking Reference</p>
                    <div class="widget-bottom">
                        <p class="widget-text">{{ booking.id }}</p>
                    </div>
                </div>
            </div>
            <div class="text-widget" id="contact-detail-view-text-widget">
                <div id="borrower-contact-section" class="widget-section">
                    <p class="widget-label">User Contact Email</p>
                    <div class="widget-bottom">
                        <p class="widget-text">{{ booking.user.user.email }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% if user.adminStatus %}
            <div class="form-container" id="status-form">
                <div class="form-value">
                    <form enctype="multipart/form-data" method="post" action="{% url 'gearStore:booking' booking.id %}">
                        {% csrf_token %}
                        <div class="input-box">
                            <div class="form-text-wrapper">
                                <ion-icon name="stats-chart-outline"></ion-icon>
                                <Label for="">Change Status</Label>
                            </div>
                            <div id="dropdown-selector">
                                <select name="status" id="dropdown" required>
                                {% if options %}
                                    {% for option in options %}
                                        {% if option.0 == booking.status %}
                                            <option value="{{ option.0 }}" selected>{{ option.1 }}</option>
                                        {% else %}
                                            <option value="{{ option.0 }}">{{ option.1 }}</option>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="submit-button">
                            <button>Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}

        <div id="comments-section">
            <h3 id="booking-comments">Comments on Changes to Gear Condition:</h3>
            {% if comments %}
                {% for comment in comments %}
                    {% if user == comment.user %}
                    <div class="speech-bubble-right">
                        <div class="speech-bubble-box-right">
                            <div class="speech-contents-wrapper">
                                <div class="speech-bubble-header">
                                    <img class="speech-bubble-profile-pic" src="/media/{{ comment.user.picture }}">
                                    <p id="comment-user">You</p>
                                </div>
                                <div class="speech-bubble-comment">
                                    {{ comment.comment }}
                                </div>
                            </div>
                        </div>
                        <div class="speech-bubble-tail-right-container">
                            <div class="speech-bubble-tail-right">

                            </div>
                        </div>
                    </div>
                    <br>
                    {% else %}
                    <div class="speech-bubble-left">
                        <div class="speech-bubble-tail-left"></div>
                        <div class="speech-bubble-box-left">
                            <div class="speech-bubble-header">
                                <img class="speech-bubble-profile-pic" src="/media/{{ comment.user.picture }}">
                                <p id="comment-user">{{ comment.user.first_name}} {{ comment.user.last_name}}</p>
                            </div>
                            <div class="speech-bubble-comment">
                                {{ comment.comment }}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <br>
                {% endfor %}
            {% else %}
                <div class="bubble-text">
                    <p>There are currently no comments.</p>
                </div>
            {% endif %}

            <div id="centered-button-container">
                <button id="action-button" onclick="showCommentForm()">Add Comment</button>
            </div>
        </div>
        <div id="add-comment-form">
            <form enctype="multipart/form-data" id='edit-about-form' method="post" action="{% url "gearStore:booking" booking.id %}">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <div class="input-box">
                    <div class="form-text-wrapper">
                        <ion-icon name="pencil-outline"></ion-icon>
                        <Label for="">Comment Text</Label>
                    </div>
                    <textarea type="text" name="comment" placeholder="Write Comment Here" required></textarea>
                </div>
                <div class="submit-button">
                    <button>Submit</button>
                </div>
            </form>
        </div>
        {% if form_open == True %}
            <script type="text/javascript">
                showHiddenForm()
            </script>
        {% endif %}
    {% else %}
        <h1 id="page-header">Missing Booking</h1>
        <p>Error! No such booking exists.</p>
    {% endif %}
{% endblock %}