{% extends 'gearStore/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Gear
{% endblock %}

{% block body_block %}
    {% if category %}
        <div class="gear-view-contents">
            <div class="top-image" style="background-image: url('/media/{{ category.picture }}')">
                <div class="top-image-overlay">
                    <h1 id="image-overlay-header">{{ category.name }}</h1>
                    {% if admin %}
                        <a id="edit-button-parent" class="edit-delete-button-parent" href="{% url 'gearStore:edit-category' category.slug %}"><img id="edit-button" class="edit-delete-button" src='{% static 'images/edit_symbol.png' %}'></a>
                        <a id="delete-button-parent" class="edit-delete-button-parent" href="{% url 'gearStore:edit-category' category.slug %}"><img id="delete-button" class="edit-delete-button" src='{% static 'images/delete_symbol.png' %}'></a>
                    {% endif %}
                </div>
            </div>
            <div class="text-widget" id="category-view-text-widget">
                <div id="number-total-section" class="widget-section">
                    <p class="widget-label">Total No.</p>
                    <p class="widget-text">{{ total }}</p>
                </div>
                <div id="number-available-section" class="widget-section">
                    <p class="widget-label">No. Available</p>
                    <p class="widget-text">{{ available }}</p>
                </div>
                <div id="date-added-section" class="widget-section">
                    <p class="widget-label">Added</p>
                    <p class="widget-text">{{ category.dateAdded }}</p>
                </div>
            </div>
            <p class="below-picture">Description: {{ category.description }}</p>
        </div>
        {% if gear or admin %}
            <div class="menu-container">
                {% if gear %}
                    {% for piece_of_gear in gear %}
                        <a href="{% url 'gearStore:view-gear' piece_of_gear.slug %}" class="menu-card-link" style="background-image: url('/media/{{ piece_of_gear.picture }}')"><div class="menu-card"><p>{{ piece_of_gear.name }}</p></div></a>
                    {% endfor %}
                {% endif %}
                {% if admin %}
                    <a href="{% url 'gearStore:add-gear' category.slug %}" class="menu-card-link" style="background-image: url('{% static 'images/plus_symbol.png' %}')"><div class="menu-card"><p>Add New</p></div></a>
                {% endif %}
            </div>
        {% else %}
            <strong>No gear currently in category.</strong>
        {% endif %}
    {% else %}
        The specified category does not exist.
    {% endif %}
{% endblock %}