{% extends 'gearStore/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Gear
{% endblock %}

{% block body_block %}
    {% if category %}
        <h1 id="page-header">{{ category.name }}</h1>
        <p>Here you can see pieces of gear available to be borrowed:</p>
        {% if gear or admin %}
            <div class="menu-container">
                {% if gear %}
                    {% for piece_of_gear in gear %}
                        <a href="{% url 'gearStore:view-gear' piece_of_gear.slug %}" class="menu-card-link" style="background-image: url('/media/{{ piece_of_gear.picture }}')"><div class="menu-card"><p>{{ piece_of_gear.name }}</p></div></a>
                    {% endfor %}
                {% endif %}
                {% if admin %}
                    <a href="{% url 'gearStore:add-gear' category.slug %}" class="menu-card-link" style="background-image: url('{% static 'images/plus_symbol.png' %}')"><div class="menu-card"><p></p></div></a>
                {% endif %}
            </div>
        {% else %}
            <strong>No gear currently in category.</strong>
        {% endif %}
    {% else %}
        The specified category does not exist.
    {% endif %}
{% endblock %}