{% extends 'gearStore/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Contact Us
{% endblock %}

{% block body_block %}
    {% if admin %}
        <a id="delete-button-parent" class="edit-delete-button-parent" href="{% url 'gearStore:edit-contact'%}"><img id="edit-button" class="edit-delete-button" src='{% static 'images/edit_symbol.png' %}'></a>
    {% endif %}
    <h1 id="page-header">Contact Us</h1>
    {% if content %}
        <p>{{ content.contact_contents|linebreaks }}</p>
        <br>
        <p>Please use the following contact to reach out:</p>
        <br>
        <div id="contact-container-parent">
            <div id="contact-container">
                <ion-icon name="{{ content.contact_option }}"></ion-icon>
                <p>{{ content.contact }}</p>
            </div>
        </div>
    {% endif %}
{% endblock %}