{% load gearstore_template_tags %}
<div class="text-widget" id="booking-view-text-widget" style="background-color: {% get_colour booking.id %};">
    <div id="user-borrower-section" class="widget-section">
        <p class="widget-label">User</p>
        <div class="widget-bottom">
            <div id="profile-pic-and-name">
                <img id="small-profile-pic" src="/media/{{ booking.user.picture }}">
                <p class="widget-text" id="user-name-text"><a href="{% url 'gearStore:user' booking.user.user.username %}">{{ booking.user.first_name }} {{ booking.user.last_name }}</a></p>
            </div>
        </div>
    </div>
    <div id="gear-item-section" class="widget-section">
        <p class="widget-label">Gear Item</p>
        <div class="widget-bottom">
           <p class="widget-text"><a href="{% url 'gearStore:view-gear' booking.gearItem.slug %}">{{ booking.gearItem.name }}</a></p>
        </div>
    </div>
    <div id="return-date-section" class="widget-section">
        <p class="widget-label">Borrowed Until</p>
        <div class="widget-bottom">
            <p class="widget-text">{{ booking.dateToReturn }}</p>
        </div>
    </div>
    <div id="borrow-status-section" class="widget-section">
        <p class="widget-label">Status</p>
        <div class="widget-bottom">
            <p class="widget-text">{{ booking.status }}</p>
        </div>
    </div>
    <div id="booking-link-section" class="widget-section">
        <p class="widget-label">Booking</p>
        <div class="widget-bottom">
            <p class="widget-text"><a href="{% url 'gearStore:booking' booking.id %}">{{ booking.purpose }} Booking</a></p>
        </div>
    </div>
</div>