{% if comments %}
    {% for comment in comments %}
        {% if user == comment.user %}
        <div class="speech-bubble-right">
            <div class="speech-bubble-box-right">
                <div class="speech-contents-wrapper">
                    <div class="speech-bubble-header">
                        <img class="speech-bubble-profile-pic" src="/media/{{ comment.user.picture }}">
                        <p id="comment-user">You</p>
                        <div class="comments-edit-buttons right">
                            {% if user.adminStatus %}
                                <ion-icon name="create-outline"></ion-icon>
                                <ion-icon name="trash-outline"></ion-icon>
                                <ion-icon name="star-outline"></ion-icon>
                            {% elif user == comment.user %}
                                <ion-icon name="create-outline"></ion-icon>
                                <ion-icon name="trash-outline"></ion-icon>
                            {% endif %}
                        </div>
                    </div>
                    <div class="speech-bubble-comment">
                        {{ comment.comment }}
                        <br>
                        <p class="comment-date-stamp">Posted {{ comment.dateAdded }}</p>
                    </div>
                </div>
            </div>
            <div class="speech-bubble-tail-right-container">
                <div class="speech-bubble-tail-right">

                </div>
            </div>
        </div>
        <br>
        {% else %}
        <div class="speech-bubble-left">
            <div class="speech-bubble-tail-left"></div>
            <div class="speech-bubble-box-left">
                <div class="speech-bubble-header">
                    <img class="speech-bubble-profile-pic" src="/media/{{ comment.user.picture }}">
                    <p id="comment-user">{{ comment.user.first_name}} {{ comment.user.last_name}}</p>
                    <div class="comments-edit-buttons left">
                        {% if user.adminStatus %}
                            <ion-icon name="create-outline"></ion-icon>
                            <ion-icon name="trash-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                        {% elif user == comment.user %}
                            <ion-icon name="create-outline"></ion-icon>
                            <ion-icon name="trash-outline"></ion-icon>
                        {% endif %}
                    </div>
                </div>
                <div class="speech-bubble-comment">
                    {{ comment.comment }}
                    <br>
                    <p class="comment-date-stamp">Posted {{ comment.dateAdded }}{% if show_comment_links %} on <a href="{% url 'gearStore:booking' comment.booking.id %}">Booking {{ comment.booking.id }}</a>{% endif %}</p>
                </div>
            </div>
        </div>
        {% endif %}
        <br>
    {% endfor %}
{% else %}
    <div class="bubble-text">
        <p>There are currently no comments.</p>
    </div>
{% endif %}