{% extends 'gearStore/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Edit {{ gear.name }}
{% endblock %}

{% block body_block %}
    <h1 id="page-header">Edit {{ gear.name }}</h1>
    <div class="form-container">
        <div class="form-value">
            <form enctype="multipart/form-data" id='gear_form' method="post"
                  action="{% url "gearStore:edit-gear" category.slug gear.slug %}">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                <div class="input-box">
                    <div class="form-text-wrapper">
                        <ion-icon name="person-outline"></ion-icon>
                        <Label for="">Gear Name</Label>
                    </div>
                    <input type="text" name="name" placeholder="gear name" value="{{ gear.name }}" required>
                </div>
                <div class="input-box">
                    <div class="form-text-wrapper">
                        <ion-icon name="stats-chart-outline"></ion-icon>
                        <Label for="">Change Status</Label>
                    </div>
                    <div id="dropdown-selector">
                        <select name="status" id="dropdown" required>
                        {% if options %}
                            {% for option in options %}
                                {% if option.0 == gear.status %}
                                    <option value="{{ option.0 }}" selected>{{ option.1 }}</option>
                                {% else %}
                                    <option value="{{ option.0 }}">{{ option.1 }}</option>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        </select>
                    </div>
                </div>
                <div class="input-box">
                    <div class="form-text-wrapper">
                        <ion-icon name="mail-outline"></ion-icon>
                        <Label for="">Description</Label>
                    </div>
                    <input type="text" name="description" placeholder="description" value="{{ gear.description }}" required>
                </div>

                <div class="input-box">
                    <div class="form-text-wrapper">
                        <ion-icon name="image-outline"></ion-icon>
                        <Label for="">Gear Image</Label>
                    </div>
                    <input type="file" name="picture" accept="image/*">
                </div>
                <div class="input-box">
                    <div class="form-text-wrapper">
                        <ion-icon name="resize-outline"></ion-icon>
                        <Label for="">Size</Label>
                    </div>
                    <input type="text" name="size" placeholder="size" value="{{ gear.size }}" required>
                </div>
                <div class="submit-button">
                    <button>Submit Changes</button>
                </div>
            </form>
        </div>
    </div>
    {% if errors %}
        <ul class='form-errors'>
            <li class="error-warning">An error has occurred:</li>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        <br>
    {% endif %}
{% endblock %}