{% extends 'gearStore/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
    <h1 id="page-header">Home</h1>
    {% if content %}
        <img src="/media/{{ content.logo_image }}" class="picture">
        <p>{{ content.home_contents|linebreaks }}</p>
    {% endif %}
    <a id="delete-button-parent" class="edit-delete-button-parent" href="{% url 'gearStore:index'%}"><img id="edit-button" class="edit-delete-button" src='{% static 'images/edit_symbol.png' %}'></a>
    {% endblock %}