{% extends 'gearStore/base.html' %}
{% load staticfiles %}
{% load gearstore_template_tags %}

{% block title_block %}
    {% if gear %}
        {{ gear.name }}
    {% else %}
        Missing Gear
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if gear %}
        <div class="gear-view-contents">
            <div class="top-image" style="background-image: url('/media/{{ gear.picture }}')">
                <div class="top-image-overlay">
                    <h1 id="image-overlay-header">{{ gear.name }}</h1>
                    {% if admin %}
                        <a id="edit-button-parent" class="edit-delete-button-parent" href="{% url 'gearStore:edit-gear' gear.slug %}"><ion-icon id="edit-button" class="edit-delete-button" name="create-outline"></ion-icon></a>
                        <a id="delete-button-parent" class="edit-delete-button-parent" href="{% url 'gearStore:delete-gear' gear.slug %}"><ion-icon id="delete-button" class="edit-delete-button" name="trash-outline"></ion-icon></a>
                    {% endif %}
                    </div>
            </div>
            <div id="gear-view-text-widget" class="text-widget">
                <div id="category-section" class="widget-section">
                    <p class="widget-label">Category</p>
                    <div class="widget-bottom">
                        <p class="widget-text"><a href="{% url 'gearStore:view-category' category.slug %}">{{ gear.category }}</a></p>
                    </div>
                </div>
                <div id="colour-section" class="widget-section">
                    <p class="widget-label">Status</p>
                    <div class="widget-bottom">
                    {% if gear.status == "In Service" %}
                        {% if available %}
                            <p class="widget-text">Available</p>
                        {% else %}
                            <p class="widget-text">Borrowed</p>
                        {% endif %}
                    {% else %}
                        <p class="widget-text">{{ gear.status }}</p>
                    {% endif %}
                    </div>
                </div>
                <div id="deposit-section" class="widget-section">
                    <p class="widget-label">Deposit Required</p>
                    <div class="widget-bottom">
                        <p class="widget-text">{{ gear.deposit }}</p>
                    </div>
                </div>
                <div id="size-section" class="widget-section">
                    <p class="widget-label">Size</p>
                    <div class="widget-bottom">
                        <p class="widget-text">{{ gear.size.title }}</p>
                    </div>
                </div>
            </div>
            {% show_description gear.description %}
        </div>
        {% if not available %}
            {% if active_booking.user == user_profile %}
                <div class="bubble-text">
                    <p>You are currently borrowing this item.</p>
                    <p>It is due to be returned on {{ active_booking.dateToReturn}}.</p>
                    <p><a href="{% url 'gearStore:booking' active_booking.id %}">Link to Current Booking</a></p>
                </div>
            {% else %}
                <div class="bubble-text">
                    <p>You cannot currently borrow this item as it has already been borrowed.</p>
                    <p>It is due to be returned on {{ active_booking.dateToReturn}}.</p>
                    {% if active_booking.purpose != primary_purpose %}
                        <p>As this item is only borrowed as a {{ active_booking.purpose }} booking, it may still be possible to borrow it if you get in touch.</p>
                        {% if admin %}
                            <p><a href="{% url 'gearStore:booking' active_booking.id %}">Link to Current Booking</a></p>
                        {% endif %}
                    {% endif %}
                {% if content %}
                    <br>
                    <p>If you have any queries, please use the following contact to reach out:</p>
                    <br>
                    <div id="contact-container-parent">
                        <div id="contact-container">
                            <ion-icon name="{{ content.contact_option }}"></ion-icon>
                            <p>{{ content.contact }}</p>
                        </div>
                    </div>
                    <br>
                {% endif %}
                </div>
            {% endif %}
        {% else %}
            <p>Not currently borrowed</p>
            {% if user.is_authenticated %}
                <div class="form-container">
                    <div class="form-value">
                        <form method="post" action="{% url "gearStore:view-gear" gear.slug %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="submit-button">
                                <button>Borrow</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% else %}
                <p>Please log in to borrow this item!</p>
                <p><a href="{% url 'gearStore:login' %}">Login</a></p>
            {% endif %}
        {% endif %}
        <br>
        {% if admin %}
            <h3>Bookings of {{ gear.name }}</h3>
            <br>
            <div id="gear-bookings">
                {% show_gear_bookings gear %}
            </div>
        {% endif %}
    {% else %}
        <h1 id="page-header">Missing Gear</h1>
        <div class="bubble-text">
            <p>Error: No such piece of gear exists.</p>
        </div>
    {% endif %}
{% endblock %}