{% extends 'gearStore/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if gear %}
        {{ gear.name }}
    {% else %}
        Missing Gear
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if gear %}
        <div class="gear-view-contents">
            <div class="top-image" style="background-image: url('/media/{{ gear.picture }}')">
                <div class="top-image-overlay">
                    <h1 id="image-overlay-header">{{ gear.name }}</h1>
                    {% if admin %}
                        <a id="edit-button-parent" class="edit-delete-button-parent" href="{% url 'gearStore:edit-gear' gear.slug %}"><img id="edit-button" class="edit-delete-button" src='{% static 'images/edit_symbol.png' %}'></a>
                        <a id="delete-button-parent" class="edit-delete-button-parent" href="{% url 'gearStore:delete-gear' gear.slug %}"><img id="delete-button" class="edit-delete-button" src='{% static 'images/delete_symbol.png' %}'></a>
                    {% endif %}
                    </div>
            </div>
            <div class="text-widget">
                <div id="category-section" class="widget-section">
                    <p class="widget-label">Category</p>
                    <div class="widget-bottom">
                        <p class="widget-text"><a href="{% url 'gearStore:view-category' category.slug %}">{{ gear.category }}</a></p>
                    </div>
                </div>
                <div id="colour-section" class="widget-section">
                    <p class="widget-label">Status</p>
                    {% if gear.status == "In Service" %}
                        {% if borrowed %}
                            <p class="widget-text">Borrowed</p>
                        {% else %}
                            <p class="widget-text">Available</p>
                        {% endif %}
                    {% else %}
                        <p class="widget-text">{{ gear.status }}</p>
                    {% endif %}
                </div>
                <div id="deposit-section" class="widget-section">
                    <p class="widget-label">Deposit Required</p>
                    <div class="widget-bottom">
                        <p class="widget-text">{{ gear.deposit }}</p>
                    </div>
                </div>
                <div id="size-section" class="widget-section">
                    <p class="widget-label">Size</p>
                    <div class="widget-bottom">
                        <p class="widget-text">{{ gear.size.title }}</p>
                    </div>
                </div>
                <div id="date-added-section" class="widget-section">
                    <p class="widget-label">Added</p>
                    <div class="widget-bottom">
                        <p class="widget-text">{{ gear.dateAdded }}</p>
                    </div>
                </div>
            </div>
            <p class="below-picture">Description: {{ gear.description }}</p>
        </div>
        {% if borrowed %}
            <p>You cannot currently borrow this item - it has already been borrowed!</p>
            <p>Return Date: {{ borrow.dateToReturn}}</p>
        {% else %}
            <p>Not currently borrowed</p>
            {% if user.is_authenticated %}
                <div class="form-container">
                    <div class="form-value">
                        <form method="post" action="{% url "gearStore:view-gear" gear.slug %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="submit-button">
                                <button>Borrow</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% else %}
                <p>Please log in to borrow this item!</p>
                <p><a href="{% url 'gearStore:login' %}">Login</a></p>
            {% endif %}
        {% endif %}
        <br>
        <br>
        <br>
    {% else %}
        <h1 id="page-header">Missing Gear</h1>
        <p>Error: No such piece of gear exists.</p>
    {% endif %}
{% endblock %}